# Pipeline outputs
output/
input/
work/

# Python
__pycache__/
*.pyc
*.pyo
.env
*.sqlite
*.sqlite-shm
*.sqlite-wal

# Virtual environments
.repo_venvs/
.venv/
venv/

# Caches
.cache/
.local/
.jupyter/
.ipython/
.bash*
.profile
.bashrc
.bash_logout

# Data mounts
data_mounts/

# Temp
/tmp/
.pyenv
